<!DOCTYPE html>
<html lang='es'>

<head>
    <meta charset='utf-8'>
    {% load static %}

    <link rel="stylesheet" href="{% static "css/uikit.min.css"%}" />
    <link rel=" stylesheet" href="{% static "css/components/accordion.min.css"%}" />
    <link rel=" stylesheet" href="{% static "css/components/datepicker.min.css" %}" />
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/uikit.min.js"%}"></script>
    <script src="{% static "js/components/accordion.min.js"%}"></script>
    <script src="{% static "js/components/datepicker.min.js"%}"></script>

    <title>Practica RS examen</title>

</head>

<body>
    {% include 'header.html' %}
    <h1 class="uk-article-title">{% block titulo %} {% endblock %}</h1>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>